.accordion {
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    background: transparent;
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.chevron {
    transition: transform .3s;
}

.chev-active {
    transform: rotate(180deg);

    path {
        fill: #FF0000;
    }
}