.header {
    background: #1e1e1e;
    padding: 18px 0;

    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            display: flex;
            div {
                margin-right: 38px;
                cursor: pointer;
            }
        }

        &__links {
            ul {
                display: flex;
                gap: 80px;

                li {
                    a {
                        color: #fff;
                        text-transform: uppercase;
                        font-family: $srcSP;
                        font-weight: 700;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}