.sidenav {
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #F7F7F7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;

    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
            padding: 0 20px 0 25px;
        }

        button {
            display: flex;
            justify-content: space-between;
            align-items: center;
            text-decoration: none;

            span {
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                color: #1E1E1E;
                transition: 0.3s;
            }
        }
    }
}

#body {
    transition: margin-left .5s;
}

#openMenu {
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 30%;
}

@media (max-width: 1015px) {
    #openMenu {
        svg {
            path {
                d: path('M0 0H30V3.33333H0V0ZM0 8.33333H30V11.6667H0V8.33333ZM0 16.6667H30V20H0V16.6667Z');
            }
        }
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;

        a {
            font-size: 18px;
        }
    }
}