.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #F7F7F7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 45px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    li {
        padding: 0 20px 0 25px;
    }

    a {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        font-family: $srcSP;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        color: #1E1E1E;
        transition: 0.3s;
    }
}

#body {
    transition: margin-left .5s;
}

#openMenu {
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 30%;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;

        a {
            font-size: 18px;
        }
    }
}